<section id="MainProduct-{{ section.id }}" class="page-width section-{{ section.id }}-padding " data-section="{{ section.id }}">
  Collapsible
</section>
{% schema %}
  {
    "name": "t:sections.collapsible-main-product.name",
    "tag": "section",
    "class": "section"
  }
{% endschema %}