<section id="MainProduct-{{ section.id }}" class="page-width {{ section.settings.layout_product }} section-{{ section.id }}-padding " data-section="{{ section.id }}">
  {%- if section.settings.layout_product == 'main_product_default' -%}
    {% section 'main-product-01' %}
  {% elsif section.settings.layout_product == 'main_product_01' %}
    {% section 'main-product-02' %}
  {% endif %}
</section>
{% schema %}
  {
    "name": "t:sections.main-product.name",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "select",
        "id": "layout_product",
        "options": [
          {
            "value": "main_product_default",
            "label": "t:sections.main-product.settings.layout_product.label__1"
          }, {
            "value": "main_product_01",
            "label": "t:sections.main-product.settings.layout_product.label__2"
          }
        ],
        "default": "main_product_default",
        "label": "t:sections.main-product.settings.layout_product.content"
      }
    ]
  }
{% endschema %}