<section id="MainProduct-{{ section.id }}" class="page-width section-{{ section.id }}-padding " data-section="{{ section.id }}">
  Collapsible
</section>
{% schema %}
  {
    "name": "t:sections.main-product-collapsible.name",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "page",
        "id": "collapsible",
        "label": "t:sections.main-product-collapsible.settings.collapsible.label"
      }
    ]
  }
{% endschema %}