.tab summary {
    display: flex;
    position: relative;
    line-height: 1;
    padding: 1.5rem 0;
}

.tab .summary__title {
    display: flex;
    flex: 1;
    align-items: center;
}

.tab .summary__title+.icon-caret {
    height: calc(var(--font-heading-scale) * 0.6rem);
}

.tab+.tab {
    margin-top: 0;
    border-top: none;
}

.product___tabs {
    margin-top: 2.5rem;
    margin-bottom: 0;
    width: 100%;
}

.nav-tabs {
    border-bottom: 1px solid rgba(52,58,64,.12);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: .933rem;
    font-weight: 700;
    text-transform: uppercase;
}
.nav-tabs li {
    margin: 0 16px;
}

.tab__title {
    display: inline-block;
    max-width: calc(100% - 6rem);
    min-height: 1.6rem;
    margin: 0;
    word-break: break-word;
    text-transform: uppercase;
    font-weight: 700;
}

.tab .icon-accordion {
    align-self: center;
    fill: rgb(var(--color-foreground));
    height: calc(var(--font-heading-scale) * 2rem);
    margin-right: calc(var(--font-heading-scale) * 1rem);
    width: calc(var(--font-heading-scale) * 2rem);
}

.tab details[open]>summary .icon-caret {
    transform: rotate(180deg);
}

.tab__content {
    margin-bottom: 1.5rem;
    word-break: break-word;
    overflow-x: auto;
    padding: 0 0.6rem;
}

.tab__content img {
    max-width: 100%;
}