.tab .summary__title + .icon-caret {
	height: calc(var(--font-heading-scale) * 0.6rem);
}

.tab + .tab {
	margin-top: 0;
	border-top: none;
}

.product___tabs {
	margin: 0;
	width: 100%;
}

.tab__title {
	display: inline-block;
	min-height: 1.6rem;
	margin: 0;
	word-break: break-word;
	text-transform: uppercase;
	font-weight: 700;
	color: inherit;
}
.nav-tabs {
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	border-bottom: 1px solid rgba(52, 58, 64, 0.12);
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	font-size: 0.933rem;
	font-weight: 700;
	justify-content: center;
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
	text-transform: uppercase;
}
.nav-tabs li {
	margin: 0 16px;
}

.tab .summary__title {
	color: #212121;
	display: flex;
	flex: 1;
	align-items: center;
	border-bottom: 2px solid transparent;
	padding: 16px 0;
	line-height: 1;
	margin-bottom: -1px;
}

.nav-tabs li.active .summary__title {
	color: #c1ab7c;
	border-bottom-color: #c1ab7c;
}

.tab .icon-accordion {
	align-self: center;
	fill: rgb(var(--color-foreground));
	height: calc(var(--font-heading-scale) * 2rem);
	margin-right: calc(var(--font-heading-scale) * 1rem);
	width: calc(var(--font-heading-scale) * 2rem);
}

.tab details[open] > summary .icon-caret {
	transform: rotate(180deg);
}

.tab__content {
	margin: 0;
	word-break: break-word;
	overflow-x: auto;
	padding: 2rem 0;
	display: none;
}

.tab__content img {
	max-width: 100%;
}
