.footer-05 .footer-block--main {
	gap: 0px;
}
.footer-05 .footer__content-top .grid {
	row-gap: 0px;
}

.footer-05 .footer-block--main .footer__content__left,
.footer-05 .footer-block--main .footer__content__right {
	width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
	max-width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
}

.footer-05 .footer-block--main .footer__content__left > * {
	text-align: left;
}

.footer-05 .footer-block--main .footer__content__left .footer__list-social {
	justify-content: flex-start;
	margin-left: -1.4rem;
}

.footer-05 .grid--4-col-tablet > .grid__item {
	max-width: calc(25% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
	min-width: calc(25% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
}

.footer-05 .footer-block {
	padding-top: calc(var(--grid-desktop-vertical-spacing)*2);
	padding-bottom: calc(var(--grid-desktop-vertical-spacing)*2);
}

.footer-05 .footer-block:last-child {
	border-right: 0;
}

.footer-05 .footer__content-top .grid__item {
	padding-left: calc(var(--grid-desktop-horizontal-spacing));
	padding-right: calc(var(--grid-desktop-horizontal-spacing));
	border-right: 2px solid rgba(255, 255, 255, 0.2);
}

.footer-05 .footer__content-top .grid__item:last-child {
	border-right: 0;
}

.footer-05 .title-wrapper-03 {
	margin-bottom: 0;
	padding-bottom: 4.8rem;
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.footer-05 .footer__content-bottom {
	border-top: 2px solid rgba(255, 255, 255, 0.2);
}

.footer-05 .footer__content-bottom-wrapper {
	display: block;
}

.footer-05 .footer__column--info {
	padding-top: calc(var(--grid-desktop-vertical-spacing)*2);
	padding-bottom: calc(var(--grid-desktop-vertical-spacing)*2);
	display: block;
}

.footer-05 .footer__copyright {
	text-align: inherit;
}