/* Header 04 */
.header-wrapper {
    z-index: 3;
}

.header {
    display: grid;
    grid-template-areas: "heading mainmenu";
    grid-template-columns: 1fr 2fr;
    align-items: center;
    align-items: center;
}

.header > .header__heading, 
.header > .header__heading-link {
    width: auto;
    text-transform: uppercase;
    padding-left: 4.8rem;
    padding-right: 4.8rem;
}

.header > .header__heading > .header__heading-link {
    padding: 0;
}

.header_menu_wrapper {
    display: flex;
    grid-area: mainmenu;
    justify-content: space-between;
    padding-left: 4.8rem;
    padding-right: 4.8rem;
}

.header:not(.header--middle-left) .header__inline-menu {
    margin-top: 0;
}

.header__inline-menu {
    margin-left: 0;
}

.header-04 {
    padding-left: 0;
    padding-right: 0;
}

/* Menu */
.header__menu-item {
    padding-left: 0;
    padding-right: 3.2rem;
}