/* Header 05 */
body.page-header-05 .ja-container {
    max-width: 100%;
    display: grid;
    grid-template-areas: "header content-footer";
    grid-template-columns: 320px calc(100% - 320px);
}

body.page-header-05 #shopify-section-header-05 {
    grid-area: header;
}

body.page-header-05 .mainContent-footer-wrapper {
    grid-area: content-footer;
}

body.page-header-05 .header-wrapper {
    z-index: 3;
    height: 100%;
    width: 320px;
    position: fixed;
}

.header-05 {
    display: block;
}

@media screen and (max-width: 989px) {
    .header-05 {
    }
}

.header > .header__heading, 
.header > .header__heading-link {
    width: auto;
    text-transform: uppercase;
    padding: 3.3rem 10rem;
    text-align: center;
    border-bottom: 2px solid rgba(var(--color-foreground), 0.2);
}

.header > .header__heading > .header__heading-link {
    padding: 0;
    margin-left: 0;
}

.header--middle-left .header__inline-menu {
    margin-left: 0;
}

.header:not(.header--middle-left) .header__inline-menu {
    margin-top: 0;
}

.header__inline-menu {
    margin-left: 0;
}

.header__icons {
    justify-self: end;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.header__icon--cart {
    margin-right: 0;
}

.header header-drawer {
    width: auto;
}

.header:not(.header--top-center) * > .header__search,
.header .header__icon--cart,
.header header-drawer {
    height: 100%;
    align-items: center;
    width: auto;
}

.cart-count-bubble {
    right: 0rem;
    top: 0rem;
}

.header .off-canvas span {
    justify-content: center;
}

/* Menu */
.header-05 .menu-drawer {
    position: relative;
    transform: none;
    top: auto;
    left: auto;
    visibility: visible;
    width: 100%;
    height: auto;
    border: 0;
}

.header__menu-item {
}

.header__menu-item > span {
    position: relative;
}

.header__menu-item > span:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    top: 50%;
    left: -25%;
    margin-top: -1px;
    background: rgb(var(--color-base-text));
    transition: all var(--duration-long) ease;
}

.header__menu-item > .header__active-menu-item:before,
.header__menu-item:hover > span:before {
    width: 150%;
}