/* Header 04 */
.header-wrapper {
    z-index: 3;
}

.header {
    display: grid;
    grid-template-areas: "heading mainmenu";
    grid-template-columns: 1fr 2fr;
    align-items: center;
    align-items: center;
}

.header > .header__heading, 
.header > .header__heading-link {
    width: auto;
    text-transform: uppercase;
    padding-left: 4.8rem;
    padding-right: 4.8rem;
}

.header > .header__heading > .header__heading-link {
    padding: 0;
}

.header_menu_wrapper {
    display: grid;
    grid-area: "mainmenu";
    grid-template-areas: "navigation icons";
    grid-template-columns: 2fr 1fr;
}

.header__inline-menu {
    padding-left: 4.8rem;
    padding-right: 4.8rem;
}

.header:not(.header--middle-left) .header__inline-menu {
    margin-top: 0;
}

.header__inline-menu {
    margin-left: 0;
}

.header-04 {
    padding-left: 0;
    padding-right: 0;
}

.header__icons {
    justify-self: end;
    width: auto;
}

.header__icon--cart {
    margin-right: 0;
}

.header:not(.header--top-center) * > .header__search,
.header .header__icon--cart {
    height: 100%;
    align-items: center;
    padding: 2.4rem;
    width: auto;
    height: auto;
}

/* Menu */
.header__menu-item {
    padding-left: 0;
    padding-right: 3.2rem;
}

.header__menu-item > span {
    position: relative;
}

.header__menu-item > span:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    top: 50%;
    left: -25%;
    margin-top: -1px;
    background: rgb(var(--color-base-text));
}

.header__active-menu-item {
}

.header__menu-item > .header__active-menu-item:before,
.header__menu-item:hover > span:before {
    width: 150%;
}